---
import Layout from '@/layouts/Layout.astro';
import Header from "@/components/Header.astro"
import i18next from '@/i18n';

i18next.changeLanguage("zh")

---

<Layout title="Welcome to Astro.">
  <header>
    <Header page="about"/>
  </header>
	<main>
    

    about
	</main>
</Layout>


