---
import Layout from '@/layouts/Layout.astro';
import Header from "@/components/Header.astro";

---

<Layout title="Welcome to Astro.">
  <header>
    <Header page="contract"/>
  </header>
	<main>
    

    contract
	</main>
</Layout>


